<div class="row">
    <div class="col-md-6">
        <img src="img/sean.png" class="img-circle img-responsive" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>Hi, I'm Sean</h2>
        <p>sdjo fjoweij woijf  ofwjefoj fwojfeogh oqgjoi</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <a href="twitter.com" class="btn btn-info btn-block">
            <i class="fa fa-twitter fa-5x"></i>
        </a>
    </div>    
    <div class="col-md-2">
        <a href="facebook.com" class="btn btn-primary btn-block">
            <i class="fa fa-facebook fa-5x"></i>
        </a>
    </div>    
    <div class="col-md-2">
        <a href="youtube.com" class="btn btn-danger btn-block">
            <i class="fa fa-youtube fa-5x"></i>
        </a>
    </div>
</div>
